<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h3>Добро пожаловать в личный кабинет, {{ request.user.username }}.
        <nav>
        <a href="{% url 'logout' %}">Выйти</a> |
        <a href="{% url 'history' %}">История моих переводов</a> |
        <a href="{% url 'create_wallet' %}">Создать счёт</a>
        </nav></h3>
    {% if request.user.wallets.all %}
        <form action="/app_users/find_receiver/" method="get"><button>Перевести</button></form>
        {% for wallet in request.user.wallets.all %}
            <p><a href="{% url 'wallet_detail' wallet.id %} ">{{ wallet.name }}</a> - {{ wallet.balance }} $</p>
        {% endfor %}
    {% else %}
        <h4>У вас нету счетов</h4>
    {% endif %}

{% else %}
    <h3>Вы не аутентифицированы. <a href="{% url 'login' %}">Войти</a></h3>
{% endif %}
</body>
</html>