<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h2>Главная страница</h2>
{% if request.user.is_authenticated %}
    <h3>
        Здравствуйте, {{ request.user.username }}.
        <nav>
        <a href="{% url 'account' %}">Личный кабинет</a> |
        <a href="{% url 'logout' %}">Выйти</a>
        </nav>
    </h3>
{% else %}
    <h3>Вы не аутентифицированы.
        <nav>
        <a href="{% url 'login' %}">Войти</a> |
        <a href="{% url 'registration' %}"> Зарегистрироваться</a></h3>
        </nav>
{% endif %}
</body>
</html>