{% extends 'app_users/main.html' %}
    {% block title %}Детали счёта №{{ object.id }}{% endblock %}
{% block body %}
<body>
    {% if request.user.id == object.user.id %}
        <h2>Детали счёта №{{ object.id }}</h2>
        <p>ID: {{ object.id }}</p>
        <p>User: {{ object.user }}</p>
        <p>Name: {{ object.name }}</p>
        <p>Баланс: {{ object.balance }}</p>
        <h4>История счёта</h4>
         <form action="{% url 'wallet_detail' object.id %}">
        {% csrf_token %}
        <label>
            <input type="date" name="date"> Дата <br>
            <input type="number" name="sum_transfer"> Сумма <br>
            <button type="submit">Найти</button>
        </label>
    </form>
        {% for transfer in transfers%}
            {% if transfer.operation ==  'r' %}
                <p style="color: blue">
                    {{ transfer.date }} {{ transfer.get_operation_display }} {{ transfer.number_money }}$
                    {% if transfer.status %}
                        <span style="color: green"><b>Исполнено</b></span>
                    {% else %}
                        <span style="color: red"><b>Отменено</b></span>
                    {% endif %}
                </p>
            {% else %}
                <p style="color: crimson">
                    {{ transfer.date }} {{ transfer.get_operation_display }} {{ transfer.number_money }}$
                    {% if transfer.status %}
                        <span style="color: green"><b>Исполнено</b></span>
                    {% else %}
                        <span style="color: red"><b>Отменено</b></span>
                    {% endif %}
                </p>
            {% endif %}
        {% endfor %}
    {% else %}
        Ошибка. Это не ваш счёт
    {% endif %}
{% endblock %}