<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали счёта №{{ object.id }}</title>
</head>
<body>
    {% if request.user.id == object.user.id %}
        <h2>Детали счёта №{{ object.id }}</h2>
        <p>ID: {{ object.id }}</p>
        <p>User: {{ object.user }}</p>
        <p>Name: {{ object.name }}</p>
        <p>Баланс: {{ object.balance }}</p>
        <h4>История счёта</h4>
        {% for transfer in transfers %}
            {% if transfer.operation ==  'r' %}
                <p style="color: blue">{{ transfer.date }} {{ transfer.get_operation_display }} {{ transfer.number_money }}$</p>
            {% else %}
                <p style="color: crimson">{{ transfer.date }} {{ transfer.get_operation_display }} {{ transfer.number_money }}$</p>
            {% endif %}
        {% endfor %}
    {% else %}
        Ошибка. Это не ваш счёт
    {% endif %}
</body>
</html>